h1
    font-size: 1.2em

h2
    font-size: 1.05em
    margin-bottom: 0

#control-panel
    height: 100%
    overflow-y: scroll
    border-right: 1px solid rgba(0, 0, 0, 0.4)
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
    padding: 0
    margin-left: 20px

.control-panel-label
    width: 50%
    vertical-align: middle
    display: inline-block
    margin-bottom: 0

.control-section-title
    width: 50%
    vertical-align: middle
    display: inline-block
    margin-bottom: 0

.control-section
    padding-bottom: 10px
    margin-bottom: 10px
    border-bottom: 1px dotted black

.control-btn
    width: 48%
    border-radius: 8px
    font-size: 1em

.control-section-head
    margin-bottom: 10px

.control-column
    height: 100%
    width: 49%
    display: inline-block
    vertical-align: top
    padding: 5px
    border-left: 1px dotted black
